$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'base/variables';
@import 'sections/header';
@import 'sections/box_events';
@import 'sections/box_content';
@import 'sections/box_medias';
@import 'sections/box_sponsors';
@import 'sections/box_team';
@import 'modules/slider';
@import 'sections/footer';
@import 'sections/responsive';



.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

