$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*Header */

.header{
    background: #2e2e2e;
    // height: 550px;
    padding-bottom: 50px;

    .title {
        color: #fbfbfb;
        // color: #55d7ff;
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        padding-top: 100px;
    }
    .sub-title {
        color: #55d7ff;
        font-family: 'Nunito', sans-serif;
        font-weight: 100;
    }
}

.img-border {
  border: 5px solid #fbfbfb;
}

.box-images {
    margin-bottom: 30px;
}

.box-texts {
    .content-title {
        color: #fbfbfb;
        font-family: 'Nunito', sans-serif;
        font-size: 1.6em;
        text-transform: uppercase;
        font-weight: 300;
        padding-top: 20px;
    }
    .text {
        color:#fbfbfb;
        a {
            color: #fbfbfb;
            text-decoration: underline;
        }
    }
}


// Chamada dos eventos

.startup {
    background: #518c15;
    // height: 350px;
    img {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}


.agile {
    background: #b2333a;
    // height: 350px;
    img {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

.rupy {
    background: #32829a;
    // height: 350px;
    img {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}



// Boxes Content

.boxes {
        background: #2e2e2e;
        // height: 500px;
}

.boxes .box-titles,
.box-sponsor .box-titles {
        color: #fbfbfb;
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.6em;
        padding-top: 50px;
        padding-bottom: 20px;
}
.boxes .text,
.box-sponsor .text {
        color:#fbfbfb;
        padding-top: 20px;
        padding-bottom: 60px;
    }
.boxes .text a,
.box-sponsor .text a {
            color: #fbfbfb;
            text-decoration: underline;
        }


// Box Videos

.box-videos {
  padding-right: 30px;
}

// Box Infografico

.box-infographic {
  padding-left: 30px;
}

// Box Sponsors

.box-sponsor {
  background: #fbfbfb;
}

.box-sponsor {
  .box-titles, .text, .text a {
  color: #2c2c2c;
  }
  .box-titles {
    padding-bottom: 0px;
  }
  .text {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .text a {
    text-decoration: underline;
  }
}

.box-text-sponsor{
    padding-right: 30px;
}

.box-slides-sponsor {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
}

// Box team
.photo {
    border: 5px solid #fbfbfb;
}
.link-photo {
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.link-photo:hover {
    opacity: 0.4;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.name-center {
    text-align: center;
    width: 155px;
}
.link-team {
    color: #fff;
}
.link-team:hover {
    color: #fff;
    text-decoration: none;
}


// Footer

.footer {
    background: #000;
    height: 150px;
    color: #fbfbfb;
    .box-contact {
      padding-top: 30px;
      a,
      .phone {
          font-size: 1.2em;
      }
    }

    .box-logo {
      padding-top: 30px;
      padding-left: 70px;
      .text-credit {
        float: left;
      }
    }
}



// Slider

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }


  // SlidesJS Required: These styles are required if you'd like a responsive slideshow
    #slides {
      display: none
    }

    .slide-container {
      margin: 0 auto
    }





// Media Queries

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .slide-container {
        width: auto
      }
      .box-videos {
        padding-right: 15px;
      }
      .box-videos .text {
        padding-bottom: 0px;
      }
      .box-infographic {
        padding-left: 15px;
      }
      .box-text-sponsor {
        padding-right: 15px;
      }
      .box-slides-sponsor{
        padding-right: 15px;
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .slide-container {
        width: auto
      }
      .box-videos {
        padding-right: 15px;
      }
      .box-videos .text {
        padding-bottom: 0px;
      }
      .box-infographic {
        padding-left: 15px;
      }
      .box-text-sponsor {
        padding-right: 15px;
      }
      .box-slides-sponsor{
        padding-right: 15px;
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .slide-container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .slide-container {
        width: 1140px
      }
    }
