// Box Videos

.box-videos,
.box-infographic {
  margin-bottom: 60px;
  margin-top: 60px;
}

.box-videos {
  padding-right: 30px;
  .text {
    font-size: 1.2em;
    line-height: 1.7em;
  }
  img {
    @extend %element_transition;
    opacity: 1;
  }
  img:hover {
    @extend %element_transition;
    opacity: 0.3;
  }
}

// Box Infografico

.box-infographic {
  padding-left: 30px;
  .text {
    font-size: 1.2em;
    line-height: 1.7em;
  }
  img {
    @extend %element_transition;
    opacity: 1;
  }
  img:hover {
    @extend %element_transition;
    opacity: 0.3;
  }
}
