// Box Chamada dos eventos

.startup {
    background: #518c15;
    img {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}


.agile {
    background: #b2333a;
    img {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

.rupy {
    background: #32829a;
    img {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}