// Box Sponsors

.box-sponsor {
  background: $WHITE;
}

.box-sponsor {
  .box-titles, .text, .btn-sponsor {
  color: $GRAY;
  }
  .box-titles {
    padding-bottom: 0px;
  }
  .text {
    padding-top: 0px;
    padding-bottom: 50px;
    font-size: 1.2em;
    line-height: 1.7em;
  }
  .btn-sponsor {
    text-decoration: none;
    padding: 15px 50px;
    font-size: 1.2em;
  }
}

.box-text-sponsor{
    padding-right: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box-slides-sponsor {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}