// Box Chamada dos eventos

.startup {
    background: #518c15;
    img {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}


.agile {
    background: #b2333a;
    img {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

.rupy {
    background: #32829a;
    img {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}