// Box team

.box-team {
    padding-bottom: 30px;
}

.photo {
    border: 3px solid $WHITE;
}

.photo-team {
    padding-bottom: 30px;
}

.link-photo {
    @extend %element_transition;
    opacity: 1;
}
.link-photo:hover {
    @extend %element_transition;
    opacity: 0.4;
}

.name-center {
    text-align: center;
    padding-top: 10px;
}
.name-title {
  color: #f0f0f0;
  font-size: 1em;
}

.link-team {
    color: $WHITE;
}
.link-team:hover {
    color: $WHITE;
    text-decoration: none;
}