// Media Queries

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 0px;
        padding-right: 0px;
      }
      .slide-container {
        width: auto
      }
      .box-videos {
        padding-right: 15px;
      }
      .box-videos .text {
        padding-bottom: 0px;
      }
      .box-infographic {
        padding-left: 15px;
      }
      .box-text-sponsor {
        padding-right: 15px;
      }
      .btn-sponsor {
        width: 100%;
      }
      .box-slides-sponsor {
        padding-right: 15px;
        padding-left: 15px;
      }
      .footer {
        height: 300px;
        .box-logo {
          padding-left: 10px;
          .text-credit {
            padding-left: 10px;
          }
        }
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .slide-container {
        width: auto
      }
      .box-videos {
        padding-right: 15px;
      }
      .box-videos .text {
        padding-bottom: 0px;
      }
      .box-infographic {
        padding-left: 15px;
      }
      .box-text-sponsor {
        padding-right: 15px;
      }
      .btn-sponsor {
        width: 100%;
      }
      .box-slides-sponsor {
        padding-right: 15px;
        padding-left: 15px;
      }
      .footer {
        height: 300px;
        .box-logo {
          padding-left: 10px;
          .text-credit {
            padding-left: 10px;
          }
        }
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .slide-container {
        width: 724px
      }
      .footer {
        height: 300px;
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .slide-container {
        width: 1140px
      }
    }