/*********************************************************************
*  =Colors
*********************************************************************/

$WHITE : #fbfbfb !default;
$BLUE : #55d7ff !default;
$GRAY: #2e2e2e !default;
